<div class="container">
    <div class="weather-search">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <form class="form-inline" role="form">
                        <span class="form-group">
                            <input ng-model="location" type="text" class="form-control" id="location" placeholder="City">
                            <select class="form-control" ng-model="selectedUnit" ng-options="sign for (sign, unit) in unitChoice"></select>
                        </span>
                        <button ng-click="getForecastByLocation(location)" type="submit" class="btn btn-primary">Get Weather</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="weather-data" ng-show="dataPresent">
        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <h3>
                        {{forecast.city.name | placeholder:'?'}}, {{forecast.city.country | isoCountry}}
                        <small>Lon: {{forecast.city.coord.lon | number:2}} Lat: {{forecast.city.coord.lat | number:2}} Population: {{forecast.city.population | number:0}}</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div weather-panel="forecast" show-entry="forecast.list[0]" selected-unit="selectedUnit"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div weather-panel="forecast" show-entry="forecast.list[1]" selected-unit="selectedUnit"></div>
            </div>
            <div class="col-xs-4">
                <div weather-panel="forecast" show-entry="forecast.list[2]" selected-unit="selectedUnit"></div>
            </div>
            <div class="col-xs-4">
                <div weather-panel="forecast" show-entry="forecast.list[3]" selected-unit="selectedUnit"></div>
            </div>
        </div>
    </div>
</div>
